<p>In the Scenario Oriented Object Navigation (SOON), an agent is required to navigate from an arbitrary position in a 3D embodied environment to localize a target following a scene description. </p>

<img src="https://raw.githubusercontent.com/human-interaction4robotic-navigation/human-interaction4robotic-navigation.github.io/master/rsz_21.png" alt="Image" style="width: 100%; height: auto">

<p>The navigation instructions in SOON are target-oriented rather than step-by-step babysitter as in previous benchmarks. 
    There are two major features that makes our task unique: target orienting and starting independence. 
    An instruction contains thorough descriptions to guide the agent to find a unique object from anywhere in the house. 
    After receiving an instruction in SOON, the agent first searches a larger-scale area according to the region descriptions in the instruction, 
    and then gradually narrows the search space to the target area. 
    </p>
