<p>
    The format of submission is described <a href="https://github.com/ZhuFengdaaa/SOON">here</a>. 
</p>

<p>
    If you use the SOON dataset in a paper, we ask that you cite the following publications:
    
    @inproceedings{SOON, <br>
        title={SOON: Scenario Oriented Object Navigation With Graph-Based Exploration}, <br>
        author={Fengda Zhu and Xiwen Liang and Yi Zhu and Qizhi Yu and Xiaojun Chang and Xiaodan Liang}, <br>
        booktitle={Proceedings of the IEEE Conference on Computer Vision and Pattern Recognition (CVPR)}, <br>
        year={2021} <br>
    } <br>
</p>
